# C#
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.suo
*.user

# Rider
.idea/

# Mac
.DS_Store

# Nuget
packages/
*.nupkg

# User-specific files
*.DotSettings.user

# script templates #
scripts/qb_cleanup_ratio.ps1
scripts/rclone_pull_media.bat
scripts/seedit4me-user1.ovpn